html {
  font-family: "Major Mono Display", monospace;
}

.quote {
  font-family: 'Playfair Display', serif;
  top: 20%;
  left: 5%;
  right: 5%;
}

.author {
  visibility: hidden;
  opacity: .3;
  color: #be96eb;
}

.title {
  opacity: .4;
  color: #8aded3;
}

p:nth-child(3) {
  left: 10%;
  right: 10%;
}

.snow {
  visibility: hidden;
}

.flake1, .flake2,
.flake3, .flake4 {
  visibility: hidden;
  opacity: .4;
  color: #50c9fb;
}

@media only screen and (min-width: 38em) {

  .author {
    visibility: visible;
    max-width: 100%;
  }

  .quote {
    top: 50%;
  }

  .unit {
    visibility: hidden;
  }

  .snow {
    visibility: visible;
    opacity: .4;
    color: #8aded3;
    top: 10%;
  }

}

@media only screen and (min-width: 40em) {

  .flake1 {
    visibility: visible;
    top: 1%;
    left: 40%;
  }

}

@media only screen and (min-width: 45em) {

  .flake2 {
    visibility: visible;
    bottom: 20%;
    left: 15%;
  }

}

@media only screen and (min-width: 50em) {

  .flake3 {
    visibility: visible;
    bottom: 10%;
    right: 10%;
  }

}

@media only screen and (min-width: 55em) {

  .flake4 {
    visibility: visible;
    bottom: -10rem;
    left: 50%;
  }

}
